<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h5 class="text-white">About</h5>
                    <p class="text-muted">A simple password generator for those too lazy to think of one</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h5 class="text-white">Contact</h5>
                    <ul class="list-unstyled">
                        <li><a href="https://www.twitter.com/ervinpm" class="text-white">Follow on Twitter</a></li>
                        <li><a href="https://ervinpm.github.io/" class="text-white">Blog</a></li>
                        <li><a href="https://github.com/ervinpm/password-generator"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <h3>Password Generator</h3>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>