<div class="container ">
    <div class="row">
        <div class="col mt-5 mb-3">
            <div class="text-center">
                <h1>* * * * *</h1>
            </div>
            <div class="card text-center">
                <div class="card-body">
                    {{generatedPassword}}
                </div>
            </div>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-lg-6 mb-3">
            <button type="button" class="btn btn-primary btn-block" (click)="generatePassword()">Generate!</button>
        </div>
        <div class="col-lg-6 mb-3">
            <button type="button" class="btn btn-secondary btn-block" (click)="copyToClipboard()">Copy to clipboard</button>
        </div>
    </div>

    <div>
        <strong>Other options:</strong>
    </div>

    <div>
        <div>
            <label for="password-length" class="form-label">Length</label>
            <input [(ngModel)]="passwordOptions.length" type="number" class="form-control" id="password-length"
                placeholder="password length">
        </div>
        <div class="form-check">
            <input [(ngModel)]="passwordOptions.includeSymbols" type="checkbox" class="form-check-input"
                id="includeSymbols">
            <label class="form-check-label" for="includeSymbols">Include symbols</label>
        </div>
        <div class="form-check">
            <input [(ngModel)]="passwordOptions.includeNumbers" type="checkbox" class="form-check-input"
                id="includeNumbers">
            <label class="form-check-label" for="includeNumbers">Include numbers</label>
        </div>
    </div>

</div>